/* Estilos gerais */
body {
    font-family: Arial;
    margin: 0;
    padding: 20px 20px 20px 20px; /* espaço extra no topo para a barra fixa */
    background-color: #f4f4f9;
}

/* Barra superior fixa com botão */
.top-bar a button {
    all: unset;
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    background: white;
    color: black;
    cursor: pointer;
    font-family: inherit;
    border-radius: 0;
}

/* Contêiner para os blocos, alinhando-os lado a lado */
.blocos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espaço reduzido entre os blocos */
    justify-content: flex-start; /* Alinha os blocos à esquerda */
}

/* Estilo do bloco */
.bloco {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 250px;
}

/* Estilo do campo do exercício */
.exercicio {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #f4f4f9;
    border-radius: 4px;
    font-size: 0.875rem;
}

/* Estilo para a linha de repetições e carga */
.input-linha {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.repeticoes {
    width: 70%;
    padding: 8px;
    border: 1px solid #f4f4f9;
    border-radius: 4px;
    font-size: 0.875rem;
}

.carga {
    width: 30%;
    padding: 8px;
    border: 1px solid #f4f4f9;
    border-radius: 4px;
    font-size: 0.875rem;
}

/* Estilo do campo de observações */
.observacao-container {
    width: 100%;
    margin-top: 10px;
}

.observacao-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 0.875rem;
    text-align: left;
    margin-left: 0;
}

.observacao {
    width: 90%;
    padding: 8px;
    border: 1px solid #f4f4f9;
    border-radius: 4px;
    min-height: 60px;
    resize: vertical;
    font-size: 0.875rem;
    word-wrap: break-word; /* Quebra a linha quando necessário */
    overflow-wrap: break-word; /* Para garantir que o texto não ultrapasse o bloco */
    white-space: normal; /* Garante que o texto será quebrado */
}